make_scenarios/ProNeXus™ - Diagnostic IA Immobilier GalaXLytique.blueprint.json
{
    "name": "ProNeXus™ - Diagnostic IA Immobilier GalaXLytique",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2722552,
                "maxResults": 20
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "DiagnosticIA_ProNeXus"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "name",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "phone",
                        "type": "text"
                    },
                    {
                        "name": "fonction",
                        "type": "text"
                    },
                    {
                        "name": "agency",
                        "type": "text"
                    },
                    {
                        "name": "objectif",
                        "type": "text"
                    },
                    {
                        "name": "processus",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array"
                    },
                    {
                        "name": "processus_autre",
                        "type": "text"
                    },
                    {
                        "name": "logiciels",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array"
                    },
                    {
                        "name": "logiciels_autre",
                        "type": "text"
                    },
                    {
                        "name": "maturite",
                        "type": "text"
                    },
                    {
                        "name": "rgpd_consent",
                        "type": "text"
                    },
                    {
                        "name": "timestamp",
                        "type": "text"
                    },
                    {
                        "name": "source",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 10041979
            },
            "mapper": {
                "base": "appvMCqxCmYXcxvYA",
                "table": "tblgfzbWDKIlicx5Y",
                "record": {
                    "fld1gYsxbLlvL7niJ": "{{1.email}}",
                    "fldD6TtlhcIioBNLT": "{{1.name}}",
                    "fldEEDxxCBjrB6Sex": "{{1.rgpd_consent}}",
                    "fldGs3VMmrzPuTlSj": "{{1.logiciels_autre}}",
                    "fldJCAmqzcWbpBnwH": "{{1.agency}}",
                    "fldO6TYHVvGwMpbWy": "{{1.timestamp}}",
                    "fldPWRYGXNomzIOOK": "{{1.processus}}",
                    "fldT10bwcKNmis9SS": "{{1.objectif}}",
                    "fldbISxSu3UfgZuoJ": "{{1.logiciels}}",
                    "flddXpgP85XXqY0HY": "{{1.maturite}}",
                    "fldhvn7lB7FE0sPAX": "{{1.fonction}}",
                    "fldrD0eE7H47uiIHY": "{{1.processus_autre}}",
                    "fldtbW9mmiVDgHprg": "{{1.phone}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "LEADS PNX-RE-OCX-FUSION™"
                        },
                        "table": {
                            "label": "LEADS - IA DIAGNOSTIC IMMOBILIER",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldD6TtlhcIioBNLT",
                                            "type": "text",
                                            "label": "Nom Complet"
                                        },
                                        {
                                            "name": "fld1gYsxbLlvL7niJ",
                                            "type": "text",
                                            "label": "Email professionnel"
                                        },
                                        {
                                            "name": "fldtbW9mmiVDgHprg",
                                            "type": "text",
                                            "label": "Téléphone mobile pro"
                                        },
                                        {
                                            "name": "fldhvn7lB7FE0sPAX",
                                            "type": "text",
                                            "label": "Fonction/poste actuel"
                                        },
                                        {
                                            "name": "fldJCAmqzcWbpBnwH",
                                            "type": "text",
                                            "label": "Nom de l'agence"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldT10bwcKNmis9SS",
                                            "type": "select",
                                            "label": "Priorité principale",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "gagner-temps",
                                                    "value": "gagner-temps"
                                                },
                                                {
                                                    "label": "augmenter-conversion",
                                                    "value": "augmenter-conversion"
                                                },
                                                {
                                                    "label": "optimiser-suivi",
                                                    "value": "optimiser-suivi"
                                                },
                                                {
                                                    "label": "automatiser-processus",
                                                    "value": "automatiser-processus"
                                                },
                                                {
                                                    "label": "integrer-ia",
                                                    "value": "integrer-ia"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldPWRYGXNomzIOOK",
                                            "spec": {
                                                "mode": "edit",
                                                "type": "select",
                                                "label": "Value",
                                                "dynamic": true,
                                                "options": [
                                                    {
                                                        "label": "gestion-rdv",
                                                        "value": "gestion-rdv"
                                                    },
                                                    {
                                                        "label": "relances-auto",
                                                        "value": "relances-auto"
                                                    },
                                                    {
                                                        "label": "generation-docs",
                                                        "value": "generation-docs"
                                                    },
                                                    {
                                                        "label": "diffusion-annonces",
                                                        "value": "diffusion-annonces"
                                                    },
                                                    {
                                                        "label": "chatbot",
                                                        "value": "chatbot"
                                                    },
                                                    {
                                                        "label": "crm-intelligent",
                                                        "value": "crm-intelligent"
                                                    },
                                                    {
                                                        "label": "reporting",
                                                        "value": "reporting"
                                                    },
                                                    {
                                                        "label": "autre",
                                                        "value": "autre"
                                                    }
                                                ],
                                                "validate": false
                                            },
                                            "type": "array",
                                            "label": "Processus à automatiser"
                                        },
                                        {
                                            "name": "fldrD0eE7H47uiIHY",
                                            "type": "text",
                                            "label": "Précision \"Autre processus\""
                                        },
                                        {
                                            "name": "fldbISxSu3UfgZuoJ",
                                            "spec": {
                                                "mode": "edit",
                                                "type": "select",
                                                "label": "Value",
                                                "dynamic": true,
                                                "options": [
                                                    {
                                                        "label": "hektor",
                                                        "value": "hektor"
                                                    },
                                                    {
                                                        "label": "apimo",
                                                        "value": "apimo"
                                                    },
                                                    {
                                                        "label": "netty",
                                                        "value": "netty"
                                                    },
                                                    {
                                                        "label": "gercop",
                                                        "value": "gercop"
                                                    },
                                                    {
                                                        "label": "excel",
                                                        "value": "excel"
                                                    },
                                                    {
                                                        "label": "google",
                                                        "value": "google"
                                                    },
                                                    {
                                                        "label": "make",
                                                        "value": "make"
                                                    },
                                                    {
                                                        "label": "airtable",
                                                        "value": "airtable"
                                                    },
                                                    {
                                                        "label": "notion",
                                                        "value": "notion"
                                                    },
                                                    {
                                                        "label": "autre",
                                                        "value": "autre"
                                                    }
                                                ],
                                                "validate": false
                                            },
                                            "type": "array",
                                            "label": "Logiciels utilisés"
                                        },
                                        {
                                            "name": "fldGs3VMmrzPuTlSj",
                                            "type": "text",
                                            "label": "Précision \"Autre logiciel\""
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "flddXpgP85XXqY0HY",
                                            "type": "select",
                                            "label": "Maturité IA",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "debutant",
                                                    "value": "debutant"
                                                },
                                                {
                                                    "label": "intermediaire",
                                                    "value": "intermediaire"
                                                },
                                                {
                                                    "label": "avance",
                                                    "value": "avance"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldEEDxxCBjrB6Sex",
                                            "type": "boolean",
                                            "label": "Consentement RGPD"
                                        },
                                        {
                                            "name": "fldO6TYHVvGwMpbWy",
                                            "time": true,
                                            "type": "date",
                                            "label": "Date de soumission"
                                        },
                                        {
                                            "name": "fldH5BTmPrerFFghu",
                                            "type": "text",
                                            "label": "Diagnostic IA généré"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldpmceZgDh5kNEJD",
                                            "type": "select",
                                            "label": "Statut IA",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "À traiter",
                                                    "value": "À traiter"
                                                },
                                                {
                                                    "label": "Terminé",
                                                    "value": "Terminé"
                                                }
                                            ],
                                            "validate": false
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldEEDxxCBjrB6Sex": {
                                    "mode": "edit"
                                },
                                "fldPWRYGXNomzIOOK": {
                                    "mode": "edit"
                                },
                                "fldT10bwcKNmis9SS": {
                                    "mode": "edit"
                                },
                                "fldbISxSu3UfgZuoJ": {
                                    "mode": "edit"
                                },
                                "flddXpgP85XXqY0HY": {
                                    "mode": "edit"
                                },
                                "fldpmceZgDh5kNEJD": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "ProNeXus AIRTABLE - IA DIAGNOSTIC"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldD6TtlhcIioBNLT",
                                "type": "text",
                                "label": "Nom Complet"
                            },
                            {
                                "name": "fld1gYsxbLlvL7niJ",
                                "type": "text",
                                "label": "Email professionnel"
                            },
                            {
                                "name": "fldtbW9mmiVDgHprg",
                                "type": "text",
                                "label": "Téléphone mobile pro"
                            },
                            {
                                "name": "fldhvn7lB7FE0sPAX",
                                "type": "text",
                                "label": "Fonction/poste actuel"
                            },
                            {
                                "name": "fldJCAmqzcWbpBnwH",
                                "type": "text",
                                "label": "Nom de l'agence"
                            },
                            {
                                "mode": "edit",
                                "name": "fldT10bwcKNmis9SS",
                                "type": "select",
                                "label": "Priorité principale"
                            },
                            {
                                "name": "fldPWRYGXNomzIOOK",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "gestion-rdv",
                                            "value": "gestion-rdv"
                                        },
                                        {
                                            "label": "relances-auto",
                                            "value": "relances-auto"
                                        },
                                        {
                                            "label": "generation-docs",
                                            "value": "generation-docs"
                                        },
                                        {
                                            "label": "diffusion-annonces",
                                            "value": "diffusion-annonces"
                                        },
                                        {
                                            "label": "chatbot",
                                            "value": "chatbot"
                                        },
                                        {
                                            "label": "crm-intelligent",
                                            "value": "crm-intelligent"
                                        },
                                        {
                                            "label": "reporting",
                                            "value": "reporting"
                                        },
                                        {
                                            "label": "autre",
                                            "value": "autre"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Processus à automatiser"
                            },
                            {
                                "name": "fldrD0eE7H47uiIHY",
                                "type": "text",
                                "label": "Précision \"Autre processus\""
                            },
                            {
                                "name": "fldbISxSu3UfgZuoJ",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "hektor",
                                            "value": "hektor"
                                        },
                                        {
                                            "label": "apimo",
                                            "value": "apimo"
                                        },
                                        {
                                            "label": "netty",
                                            "value": "netty"
                                        },
                                        {
                                            "label": "gercop",
                                            "value": "gercop"
                                        },
                                        {
                                            "label": "excel",
                                            "value": "excel"
                                        },
                                        {
                                            "label": "google",
                                            "value": "google"
                                        },
                                        {
                                            "label": "make",
                                            "value": "make"
                                        },
                                        {
                                            "label": "airtable",
                                            "value": "airtable"
                                        },
                                        {
                                            "label": "notion",
                                            "value": "notion"
                                        },
                                        {
                                            "label": "autre",
                                            "value": "autre"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Logiciels utilisés"
                            },
                            {
                                "name": "fldGs3VMmrzPuTlSj",
                                "type": "text",
                                "label": "Précision \"Autre logiciel\""
                            },
                            {
                                "mode": "edit",
                                "name": "flddXpgP85XXqY0HY",
                                "type": "select",
                                "label": "Maturité IA"
                            },
                            {
                                "name": "fldEEDxxCBjrB6Sex",
                                "type": "boolean",
                                "label": "Consentement RGPD"
                            },
                            {
                                "name": "fldO6TYHVvGwMpbWy",
                                "time": true,
                                "type": "date",
                                "label": "Date de soumission"
                            },
                            {
                                "name": "fldH5BTmPrerFFghu",
                                "type": "text",
                                "label": "Diagnostic IA généré"
                            },
                            {
                                "mode": "edit",
                                "name": "fldpmceZgDh5kNEJD",
                                "type": "select",
                                "label": "Statut IA"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldD6TtlhcIioBNLT",
                                "type": "text",
                                "label": "Nom Complet"
                            },
                            {
                                "name": "fld1gYsxbLlvL7niJ",
                                "type": "text",
                                "label": "Email professionnel"
                            },
                            {
                                "name": "fldtbW9mmiVDgHprg",
                                "type": "text",
                                "label": "Téléphone mobile pro"
                            },
                            {
                                "name": "fldhvn7lB7FE0sPAX",
                                "type": "text",
                                "label": "Fonction/poste actuel"
                            },
                            {
                                "name": "fldJCAmqzcWbpBnwH",
                                "type": "text",
                                "label": "Nom de l'agence"
                            },
                            {
                                "mode": "edit",
                                "name": "fldT10bwcKNmis9SS",
                                "type": "select",
                                "label": "Priorité principale"
                            },
                            {
                                "name": "fldPWRYGXNomzIOOK",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "gestion-rdv",
                                            "value": "gestion-rdv"
                                        },
                                        {
                                            "label": "relances-auto",
                                            "value": "relances-auto"
                                        },
                                        {
                                            "label": "generation-docs",
                                            "value": "generation-docs"
                                        },
                                        {
                                            "label": "diffusion-annonces",
                                            "value": "diffusion-annonces"
                                        },
                                        {
                                            "label": "chatbot",
                                            "value": "chatbot"
                                        },
                                        {
                                            "label": "crm-intelligent",
                                            "value": "crm-intelligent"
                                        },
                                        {
                                            "label": "reporting",
                                            "value": "reporting"
                                        },
                                        {
                                            "label": "autre",
                                            "value": "autre"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Processus à automatiser"
                            },
                            {
                                "name": "fldrD0eE7H47uiIHY",
                                "type": "text",
                                "label": "Précision \"Autre processus\""
                            },
                            {
                                "name": "fldbISxSu3UfgZuoJ",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "hektor",
                                            "value": "hektor"
                                        },
                                        {
                                            "label": "apimo",
                                            "value": "apimo"
                                        },
                                        {
                                            "label": "netty",
                                            "value": "netty"
                                        },
                                        {
                                            "label": "gercop",
                                            "value": "gercop"
                                        },
                                        {
                                            "label": "excel",
                                            "value": "excel"
                                        },
                                        {
                                            "label": "google",
                                            "value": "google"
                                        },
                                        {
                                            "label": "make",
                                            "value": "make"
                                        },
                                        {
                                            "label": "airtable",
                                            "value": "airtable"
                                        },
                                        {
                                            "label": "notion",
                                            "value": "notion"
                                        },
                                        {
                                            "label": "autre",
                                            "value": "autre"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Logiciels utilisés"
                            },
                            {
                                "name": "fldGs3VMmrzPuTlSj",
                                "type": "text",
                                "label": "Précision \"Autre logiciel\""
                            },
                            {
                                "mode": "edit",
                                "name": "flddXpgP85XXqY0HY",
                                "type": "select",
                                "label": "Maturité IA"
                            },
                            {
                                "name": "fldEEDxxCBjrB6Sex",
                                "type": "boolean",
                                "label": "Consentement RGPD"
                            },
                            {
                                "name": "fldO6TYHVvGwMpbWy",
                                "time": true,
                                "type": "date",
                                "label": "Date de soumission"
                            },
                            {
                                "name": "fldH5BTmPrerFFghu",
                                "type": "text",
                                "label": "Diagnostic IA généré"
                            },
                            {
                                "mode": "edit",
                                "name": "fldpmceZgDh5kNEJD",
                                "type": "select",
                                "label": "Statut IA"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID Unique",
                        "type": "text",
                        "label": "ID Unique"
                    },
                    {
                        "name": "Nom Complet",
                        "type": "text",
                        "label": "Nom Complet"
                    },
                    {
                        "name": "Email professionnel",
                        "type": "text",
                        "label": "Email professionnel"
                    },
                    {
                        "name": "Téléphone mobile pro",
                        "type": "text",
                        "label": "Téléphone mobile pro"
                    },
                    {
                        "name": "Fonction/poste actuel",
                        "type": "text",
                        "label": "Fonction/poste actuel"
                    },
                    {
                        "name": "Nom de l'agence",
                        "type": "text",
                        "label": "Nom de l'agence"
                    },
                    {
                        "name": "Priorité principale",
                        "type": "text",
                        "label": "Priorité principale"
                    },
                    {
                        "name": "Processus à automatiser",
                        "type": "array",
                        "label": "Processus à automatiser",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Précision \"Autre processus\"",
                        "type": "text",
                        "label": "Précision \"Autre processus\""
                    },
                    {
                        "name": "Logiciels utilisés",
                        "type": "array",
                        "label": "Logiciels utilisés",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Précision \"Autre logiciel\"",
                        "type": "text",
                        "label": "Précision \"Autre logiciel\""
                    },
                    {
                        "name": "Maturité IA",
                        "type": "text",
                        "label": "Maturité IA"
                    },
                    {
                        "name": "Consentement RGPD",
                        "type": "boolean",
                        "label": "Consentement RGPD"
                    },
                    {
                        "name": "Score IA",
                        "type": "number",
                        "label": "Score IA"
                    },
                    {
                        "name": "Tag température",
                        "type": "text",
                        "label": "Tag température"
                    },
                    {
                        "name": "Diagnostic IA généré",
                        "type": "text",
                        "label": "Diagnostic IA généré"
                    },
                    {
                        "name": "Recommandations",
                        "type": "text",
                        "label": "Recommandations",
                        "multiline": true
                    },
                    {
                        "name": "Gains Potentiels",
                        "type": "text",
                        "label": "Gains Potentiels",
                        "multiline": true
                    },
                    {
                        "name": "Score Lead",
                        "type": "number",
                        "label": "Score Lead"
                    },
                    {
                        "name": "Tag Lead Score",
                        "type": "text",
                        "label": "Tag Lead Score"
                    },
                    {
                        "name": "Analyse Lead",
                        "type": "text",
                        "label": "Analyse Lead",
                        "multiline": true
                    },
                    {
                        "name": "Source",
                        "type": "text",
                        "label": "Source"
                    },
                    {
                        "name": "Date de soumission",
                        "time": true,
                        "type": "date",
                        "label": "Date de soumission"
                    },
                    {
                        "name": "NumeroAuto",
                        "type": "number",
                        "label": "NumeroAuto"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9775619
            },
            "mapper": {
                "model": "chatgpt-4o-latest",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "Tu es un assistant IA structuré. Tu dois renvoyer uniquement un objet JSON **brut** (pas une string). Aucun commentaire, aucune explication, juste du JSON interprétable directement par une API. Exclue toute échappement de guillemets. Format impératif : { \"clé\": valeur }\n​"
                    },
                    {
                        "role": "user",
                        "content": "Analyse ce prospect immobilier et génère son diagnostic IA GalaXLytique™:\n\nNom: {{1.name}}\nAgence: {{1.agency}}\nFonction: {{1.fonction}}\nObjectif prioritaire: {{1.objectif}}\nProcessus à automatiser : {{join(1.processus; \", \")}}{{if(1.processus_autre; concat(\", \"; 1.processus_autre); \"\")}}\nLogiciels utilisés : {{join(1.logiciels; \", \")}}{{if(1.logiciels_autre; concat(\", \"; 1.logiciels_autre); \"\")}}\n\nMaturité IA: {{1.maturite}}\n\nGénère un diagnostic complet avec score, tag, message personnalisé et recommandations\n",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "400",
                "temperature": "0.7",
                "n_completions": "1",
                "response_format": "text",
                "presence_penalty": "0",
                "frequency_penalty": "0"
            },
            "metadata": {
                "designer": {
                    "x": 601,
                    "y": -14
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "chatgpt-4o-latest (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "ProNeXus - Clé IA Automatisations"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 367226
            },
            "mapper": {
                "json": "{{5.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1094,
                    "y": 4
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "DiagnosticIA"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "score",
                        "type": "number",
                        "label": "Score",
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "tag",
                        "type": "text",
                        "label": "Tag",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "diagnostic",
                        "type": "text",
                        "label": "Diagnostic",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "recommandations",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": "Recommandations",
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "gains_potentiels",
                        "type": "text",
                        "label": "Gains Potentiels",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "message_whatsapp",
                        "type": "text",
                        "label": "Message Whatsapp",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 10041979
            },
            "mapper": {
                "id": "{{2.id}}",
                "base": "appvMCqxCmYXcxvYA",
                "table": "tblgfzbWDKIlicx5Y",
                "record": {
                    "fld2OWIm1SuZSARq2": "{{6.tag}}",
                    "fld8a4AGtBz71Egyq": "{{6.diagnostic}}",
                    "fldH5BTmPrerFFghu": "{{6.message_personnalise}}",
                    "fldTdBHaERHZHYmkd": "{{6.tag}}",
                    "flditCcYEPpNF0CFO": "{{6.score}}",
                    "fldj219SIHqepP6Y0": "{{6.gains_potentiels}}",
                    "fldut67FTo22iFxp1": "{{6.score}}",
                    "fldvRytRFWJFymdSh": "{{6.recommandations}}"
                },
                "typecast": true,
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "LEADS PNX-RE-OCX-FUSION™"
                        },
                        "table": {
                            "label": "LEADS IA DIAGNOSTIC"
                        },
                        "record": {
                            "nested": {
                                "fld2OWIm1SuZSARq2": {
                                    "mode": "edit"
                                },
                                "fldEEDxxCBjrB6Sex": {
                                    "mode": "chose"
                                },
                                "fldPWRYGXNomzIOOK": {
                                    "mode": "chose"
                                },
                                "fldT10bwcKNmis9SS": {
                                    "mode": "edit"
                                },
                                "fldTdBHaERHZHYmkd": {
                                    "mode": "edit"
                                },
                                "fldbISxSu3UfgZuoJ": {
                                    "mode": "chose"
                                },
                                "flddXpgP85XXqY0HY": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "ProNeXus AIRTABLE - IA DIAGNOSTIC"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldD6TtlhcIioBNLT",
                                "type": "text",
                                "label": "Nom Complet"
                            },
                            {
                                "name": "fld1gYsxbLlvL7niJ",
                                "type": "text",
                                "label": "Email professionnel"
                            },
                            {
                                "name": "fldtbW9mmiVDgHprg",
                                "type": "text",
                                "label": "Téléphone mobile pro"
                            },
                            {
                                "name": "fldhvn7lB7FE0sPAX",
                                "type": "text",
                                "label": "Fonction/poste actuel"
                            },
                            {
                                "name": "fldJCAmqzcWbpBnwH",
                                "type": "text",
                                "label": "Nom de l'agence"
                            },
                            {
                                "mode": "edit",
                                "name": "fldT10bwcKNmis9SS",
                                "type": "select",
                                "label": "Priorité principale"
                            },
                            {
                                "name": "fldPWRYGXNomzIOOK",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "gestion-rdv",
                                            "value": "gestion-rdv"
                                        },
                                        {
                                            "label": "relances-auto",
                                            "value": "relances-auto"
                                        },
                                        {
                                            "label": "generation-docs",
                                            "value": "generation-docs"
                                        },
                                        {
                                            "label": "diffusion-annonces",
                                            "value": "diffusion-annonces"
                                        },
                                        {
                                            "label": "chatbot",
                                            "value": "chatbot"
                                        },
                                        {
                                            "label": "crm-intelligent",
                                            "value": "crm-intelligent"
                                        },
                                        {
                                            "label": "reporting",
                                            "value": "reporting"
                                        },
                                        {
                                            "label": "autre",
                                            "value": "autre"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Processus à automatiser"
                            },
                            {
                                "name": "fldrD0eE7H47uiIHY",
                                "type": "text",
                                "label": "Précision \"Autre processus\""
                            },
                            {
                                "name": "fldbISxSu3UfgZuoJ",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "hektor",
                                            "value": "hektor"
                                        },
                                        {
                                            "label": "apimo",
                                            "value": "apimo"
                                        },
                                        {
                                            "label": "netty",
                                            "value": "netty"
                                        },
                                        {
                                            "label": "gercop",
                                            "value": "gercop"
                                        },
                                        {
                                            "label": "excel",
                                            "value": "excel"
                                        },
                                        {
                                            "label": "google",
                                            "value": "google"
                                        },
                                        {
                                            "label": "make",
                                            "value": "make"
                                        },
                                        {
                                            "label": "airtable",
                                            "value": "airtable"
                                        },
                                        {
                                            "label": "notion",
                                            "value": "notion"
                                        },
                                        {
                                            "label": "autre",
                                            "value": "autre"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Logiciels utilisés"
                            },
                            {
                                "name": "fldGs3VMmrzPuTlSj",
                                "type": "text",
                                "label": "Précision \"Autre logiciel\""
                            },
                            {
                                "mode": "edit",
                                "name": "flddXpgP85XXqY0HY",
                                "type": "select",
                                "label": "Maturité IA"
                            },
                            {
                                "name": "fldEEDxxCBjrB6Sex",
                                "type": "boolean",
                                "label": "Consentement RGPD"
                            },
                            {
                                "name": "flditCcYEPpNF0CFO",
                                "type": "number",
                                "label": "Score IA"
                            },
                            {
                                "mode": "edit",
                                "name": "fld2OWIm1SuZSARq2",
                                "type": "select",
                                "label": "Tag température"
                            },
                            {
                                "name": "fldH5BTmPrerFFghu",
                                "type": "text",
                                "label": "Diagnostic IA généré"
                            },
                            {
                                "name": "fldvRytRFWJFymdSh",
                                "type": "text",
                                "label": "Recommandations"
                            },
                            {
                                "name": "fldj219SIHqepP6Y0",
                                "type": "text",
                                "label": "Gains Potentiels"
                            },
                            {
                                "name": "fldut67FTo22iFxp1",
                                "type": "number",
                                "label": "Score Lead"
                            },
                            {
                                "mode": "edit",
                                "name": "fldTdBHaERHZHYmkd",
                                "type": "select",
                                "label": "Tag Lead Score"
                            },
                            {
                                "name": "fld8a4AGtBz71Egyq",
                                "type": "text",
                                "label": "Analyse Lead"
                            },
                            {
                                "name": "fld2RMSQwnVeA38LR",
                                "type": "text",
                                "label": "Source"
                            },
                            {
                                "name": "fldO6TYHVvGwMpbWy",
                                "time": true,
                                "type": "date",
                                "label": "Date de soumission"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "flddJkFB2TE5Lj11M",
                        "type": "text",
                        "label": "ID Unique"
                    },
                    {
                        "name": "fldD6TtlhcIioBNLT",
                        "type": "text",
                        "label": "Nom Complet"
                    },
                    {
                        "name": "fld1gYsxbLlvL7niJ",
                        "type": "text",
                        "label": "Email professionnel"
                    },
                    {
                        "name": "fldtbW9mmiVDgHprg",
                        "type": "text",
                        "label": "Téléphone mobile pro"
                    },
                    {
                        "name": "fldhvn7lB7FE0sPAX",
                        "type": "text",
                        "label": "Fonction/poste actuel"
                    },
                    {
                        "name": "fldJCAmqzcWbpBnwH",
                        "type": "text",
                        "label": "Nom de l'agence"
                    },
                    {
                        "name": "fldT10bwcKNmis9SS",
                        "type": "text",
                        "label": "Priorité principale"
                    },
                    {
                        "name": "fldPWRYGXNomzIOOK",
                        "type": "array",
                        "label": "Processus à automatiser",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "fldrD0eE7H47uiIHY",
                        "type": "text",
                        "label": "Précision \"Autre processus\""
                    },
                    {
                        "name": "fldbISxSu3UfgZuoJ",
                        "type": "array",
                        "label": "Logiciels utilisés",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "fldGs3VMmrzPuTlSj",
                        "type": "text",
                        "label": "Précision \"Autre logiciel\""
                    },
                    {
                        "name": "flddXpgP85XXqY0HY",
                        "type": "text",
                        "label": "Maturité IA"
                    },
                    {
                        "name": "fldEEDxxCBjrB6Sex",
                        "type": "boolean",
                        "label": "Consentement RGPD"
                    },
                    {
                        "name": "flditCcYEPpNF0CFO",
                        "type": "number",
                        "label": "Score IA"
                    },
                    {
                        "name": "fld2OWIm1SuZSARq2",
                        "type": "text",
                        "label": "Tag température"
                    },
                    {
                        "name": "fldH5BTmPrerFFghu",
                        "type": "text",
                        "label": "Diagnostic IA généré"
                    },
                    {
                        "name": "fldvRytRFWJFymdSh",
                        "type": "text",
                        "label": "Recommandations",
                        "multiline": true
                    },
                    {
                        "name": "fldj219SIHqepP6Y0",
                        "type": "text",
                        "label": "Gains Potentiels",
                        "multiline": true
                    },
                    {
                        "name": "fldut67FTo22iFxp1",
                        "type": "number",
                        "label": "Score Lead"
                    },
                    {
                        "name": "fldTdBHaERHZHYmkd",
                        "type": "text",
                        "label": "Tag Lead Score"
                    },
                    {
                        "name": "fld8a4AGtBz71Egyq",
                        "type": "text",
                        "label": "Analyse Lead",
                        "multiline": true
                    },
                    {
                        "name": "fld2RMSQwnVeA38LR",
                        "type": "text",
                        "label": "Source"
                    },
                    {
                        "name": "fldO6TYHVvGwMpbWy",
                        "time": true,
                        "type": "date",
                        "label": "Date de soumission"
                    },
                    {
                        "name": "fldDIuaBkyuZIswKM",
                        "type": "number",
                        "label": "NumeroAuto"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 7360475
                            },
                            "mapper": {
                                "cc": [],
                                "to": "{{7.fld1gYsxbLlvL7niJ}}",
                                "bcc": [],
                                "from": "{{7.fld1gYsxbLlvL7niJ}}",
                                "html": "<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Votre Diagnostic IA est prêt - ProNeXus™</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #020E1F;\">\n    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #020E1F;\">\n        <tr>\n            <td align=\"center\" style=\"padding: 20px 0;\">\n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"600\" style=\"max-width: 600px; background-color: #0A2240; border-radius: 20px; overflow: hidden; box-shadow: 0 0 40px rgba(0, 204, 255, 0.3);\">\n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #00CFFF 0%, #B23CDB 100%); padding: 40px 30px; text-align: center;\">\n                            <h1 style=\"margin: 0; font-family: 'Orbitron', Arial, sans-serif; font-size: 36px; font-weight: 900; color: #020E1F; text-transform: uppercase; letter-spacing: 3px;\">ProNeXus™</h1>\n                            <p style=\"margin: 10px 0 0 0; color: #020E1F; font-size: 14px; letter-spacing: 2px;\">ARCHITECTE IA & AUTOMATISATION AVANCÉE</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Score Section -->\n                    <tr>\n                        <td style=\"padding: 50px 40px 30px 40px; text-align: center;\">\n                            <h2 style=\"margin: 0 0 20px 0; font-size: 28px; color: #00CFFF;\">🎯 Diagnostic IA de {{7.fldD6TtlhcIioBNLT}}</h2>\n                            <div style=\"background: rgba(0, 204, 255, 0.1); border: 2px solid #00CFFF; border-radius: 20px; padding: 30px; display: inline-block;\">\n                                <p style=\"margin: 0; font-size: 18px; color: #00CFFF;\">VOTRE SCORE IA</p>\n                                <p style=\"margin: 10px 0 0 0; font-size: 72px; font-weight: bold; color: #00CFFF; text-shadow: 0 0 30px rgba(0, 204, 255, 0.8);\"> {{7.flditCcYEPpNF0CFO}}/100</p>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- Diagnostic -->\n                    <tr>\n                        <td style=\"padding: 0 40px 30px 40px;\">\n                            <div style=\"background: rgba(101, 44, 144, 0.1); border-left: 4px solid #652C90; padding: 20px; border-radius: 0 10px 10px 0;\">\n                                <h3 style=\"margin: 0 0 15px 0; font-size: 20px; color: #00CFFF;\">💡 Votre Diagnostic Personnalisé</h3>\n                                <p style=\"margin: 0; font-size: 16px; line-height: 1.6; color: #E6F9FF;\">{{7.fldH5BTmPrerFFghu}} </p>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- Recommendations -->\n                    <tr>\n                        <td style=\"padding: 0 40px 30px 40px;\">\n                            <h3 style=\"margin: 0 0 20px 0; font-size: 20px; color: #00CFFF;\">✅ Nos Recommandations GalaXLytiques™</h3>\n                            <div style=\"background: rgba(0, 204, 255, 0.05); border: 1px solid rgba(0, 204, 255, 0.3); border-radius: 10px; padding: 15px; margin-bottom: 10px;\">\n                                <p style=\"margin: 0; font-size: 16px; color: #E6F9FF;\"> {{7.fldvRytRFWJFymdSh}}</p>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- Gains -->\n                    <tr>\n                        <td style=\"padding: 0 40px 30px 40px;\">\n                            <div style=\"background: linear-gradient(135deg, rgba(0, 204, 255, 0.1), rgba(178, 60, 219, 0.05)); border: 2px solid #B23CDB; border-radius: 20px; padding: 25px; text-align: center;\">\n                                <h3 style=\"margin: 0 0 15px 0; font-size: 20px; color: #B23CDB;\">📈 Vos Gains Potentiels Estimés</h3>\n                                <p style=\"margin: 0; font-size: 16px; line-height: 1.6; color: #E6F9FF;\">{{7.fldj219SIHqepP6Y0}} </p>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- Cadeaux -->\n                    <tr>\n                        <td style=\"padding: 0 40px 40px 40px; text-align: center;\">\n                            <h3 style=\"margin: 0 0 30px 0; font-size: 24px; color: #00CFFF;\">🎁 Vos 3 Cadeaux GalaXLytiques™</h3>\n                            \n                            <a href=\"https://ia.pronexus.fr/checklist-audit.html\" style=\"display: inline-block; width: 100%; max-width: 400px; margin-bottom: 15px; text-decoration: none;\">\n                                <div style=\"background: linear-gradient(135deg, #00CFFF, #652C90); padding: 18px 30px; border-radius: 50px; color: #020E1F; font-size: 16px; font-weight: bold; text-align: center;\">\n                                    1️⃣ CHECKLIST AUDIT IA™\n                                </div>\n                            </a>\n                            \n                            <a href=\"https://ia.pronexus.fr/guide-automatisations.html\" style=\"display: inline-block; width: 100%; max-width: 400px; margin-bottom: 15px; text-decoration: none;\">\n                                <div style=\"background: linear-gradient(135deg, #00CFFF, #652C90); padding: 18px 30px; border-radius: 50px; color: #020E1F; font-size: 16px; font-weight: bold; text-align: center;\">\n                                    2️⃣ GUIDE 10 AUTOMATISATIONS IA™\n                                </div>\n                            </a>\n                            \n                            <a href=\"https://calendly.com/contact-pronexus/audit-ia-personnalise-agence-immo\" style=\"display: inline-block; width: 100%; max-width: 400px; text-decoration: none;\">\n                                <div style=\"background: linear-gradient(135deg, #00CFFF, #B23CDB); padding: 18px 30px; border-radius: 50px; color: #020E1F; font-size: 16px; font-weight: bold; text-align: center; box-shadow: 0 10px 30px rgba(0, 204, 255, 0.5);\">\n                                    3️⃣ RÉSERVER MON AUDIT GRATUIT\n                                </div>\n                            </a>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background: #020E1F; padding: 30px; text-align: center; border-top: 1px solid rgba(0, 204, 255, 0.2);\">\n                            <p style=\"margin: 0 0 10px 0; font-size: 14px; color: #E6F9FF; opacity: 0.8;\">\n                                Ce diagnostic a été généré par notre IA GalaXLytique™\n                            </p>\n                            <p style=\"margin: 0; font-size: 14px; color: #E6F9FF; opacity: 0.8;\">\n                                📱 07 77 32 99 82 | ✉️ contact@pronexus.fr\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
                                "subject": "🎯 Votre Diagnostic IA est prêt – ProNeXus™",
                                "attachments": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "edit"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "ProNeXus - Gmail 🚀 (contact@pronexus.fr)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 11,
                        "module": "whatsapp-business-cloud:sendTemplateMessage",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 10171151
                        },
                        "mapper": {
                            "to": "{{7.fldtbW9mmiVDgHprg}}",
                            "body": {
                                "inputtext-1753046839307": "Welcome and congratulations!! This message demonstrates your ability to send a WhatsApp message notification from the Cloud API, hosted by Meta. Thank you for taking the time to test with us."
                            },
                            "footer": {
                                "inputtext-1753046839307": "WhatsApp Business Platform sample message"
                            },
                            "fromId": "675545812316734",
                            "header": {
                                "inputtext-1753046839307": "Hello World"
                            },
                            "messageTemplate": "hello_world::en_US"
                        },
                        "metadata": {
                            "designer": {
                                "x": 2100,
                                "y": -150,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Airtable - Update a Record' [7] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "fromId": {
                                        "mode": "chose",
                                        "label": "Pronexus (+33 6 12 03 40 89)"
                                    },
                                    "messageTemplate": {
                                        "label": "hello_world (en_US)",
                                        "nested": [
                                            {
                                                "name": "header",
                                                "spec": [
                                                    {
                                                        "type": "html",
                                                        "label": "<pre>Hello World</pre>"
                                                    },
                                                    {
                                                        "name": "inputtext-1753046839307",
                                                        "type": "hidden",
                                                        "label": "Text Template",
                                                        "default": "Hello World"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Header"
                                            },
                                            {
                                                "name": "body",
                                                "spec": [
                                                    {
                                                        "type": "html",
                                                        "label": "<pre>Welcome and congratulations!! This message demonstrates your ability to send a WhatsApp message notification from the Cloud API, hosted by Meta. Thank you for taking the time to test with us.</pre>"
                                                    },
                                                    {
                                                        "name": "inputtext-1753046839307",
                                                        "type": "hidden",
                                                        "label": "Text Template",
                                                        "default": "Welcome and congratulations!! This message demonstrates your ability to send a WhatsApp message notification from the Cloud API, hosted by Meta. Thank you for taking the time to test with us."
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "type": "html",
                                                        "label": "<pre>WhatsApp Business Platform sample message</pre>"
                                                    },
                                                    {
                                                        "name": "inputtext-1753046839307",
                                                        "type": "hidden",
                                                        "label": "Text Template",
                                                        "default": "WhatsApp Business Platform sample message"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            }
                                        ]
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "whatsapp-business-cloud2"
                                        },
                                        "label": "WA_ProNeXus_Cloud_2025 🚀 (WA_Admin_ProNexus)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:whatsapp-business-cloud2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "fromId",
                                    "type": "select",
                                    "label": "Sender ID",
                                    "required": true
                                },
                                {
                                    "name": "to",
                                    "type": "text",
                                    "label": "Receiver",
                                    "required": true
                                },
                                {
                                    "name": "messageTemplate",
                                    "type": "select",
                                    "label": "Message Template",
                                    "required": true
                                },
                                {
                                    "name": "header",
                                    "spec": [
                                        {
                                            "name": "inputtext-1753046839307",
                                            "type": "hidden",
                                            "label": "Text Template"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Header"
                                },
                                {
                                    "name": "body",
                                    "spec": [
                                        {
                                            "name": "inputtext-1753046839307",
                                            "type": "hidden",
                                            "label": "Text Template"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Body"
                                },
                                {
                                    "name": "footer",
                                    "spec": [
                                        {
                                            "name": "inputtext-1753046839307",
                                            "type": "hidden",
                                            "label": "Text Template"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Footer"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}