landing-ia/Bluprint make.json
{
  "name": "ProNeXus™ - Diagnostic IA Immobilier GalaXLytique",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 1,
        "maxResults": 1
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 250
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "ProNeXus IA Landing Hook",
            "required": true
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "airtable:CreateRecord",
      "version": 1,
      "parameters": {
        "base": "appvMCqxCmYXcxvYA",
        "table": "tblgfzbWDKIlicx5Y"
      },
      "mapper": {
        "record": {
          "Nom Complet": "{{1.name}}",
          "Email professionnel": "{{1.email}}",
          "Téléphone mobile pro": "{{1.phone}}",
          "Fonction/poste actuel": "{{1.fonction}}",
          "Nom de l'agence": "{{1.agency}}",
          "Priorité principale": "{{1.objectif}}",
          "Processus à automatiser": "{{join(1.processus; \", \")}}",
          "Logiciels utilisés": "{{join(1.logiciels; \", \")}}",
          "Maturité IA": "{{1.maturite}}",
          "Consentement RGPD": "{{if(1.rgpd_consent; \"Oui\"; \"Non\")}}",
          "Date de soumission": "{{now}}",
          "Source": "Landing IA GalaXLytique"
        }
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 250
        }
      }
    },
    {
      "id": 3,
      "module": "openai-gpt:CreateCompletion",
      "version": 1,
      "parameters": {
        "apiKey": "{{connections.openai}}",
        "model": "gpt-4",
        "messages": [
          {
            "role": "system",
            "content": "Tu es un expert IA spécialisé dans l'immobilier pour ProNeXus™ AIAA. Tu analyses les réponses d'un formulaire pour générer un diagnostic IA personnalisé GalaXLytique™.\n\nTu dois :\n1. Analyser toutes les réponses du prospect\n2. Calculer un score de potentiel IA de 0 à 10\n3. Déterminer un tag de température (CHAUD/TIEDE/FROID)\n4. Générer un diagnostic personnalisé et motivant\n5. Proposer des recommandations concrètes\n\nFormat de réponse JSON strict :\n{\n  \"score\": 8.5,\n  \"tag\": \"CHAUD\",\n  \"diagnostic\": \"Diagnostic détaillé personnalisé...\",\n  \"recommandations\": [\"Reco 1\", \"Reco 2\", \"Reco 3\"],\n  \"gains_potentiels\": \"Description des gains estimés\",\n  \"message_whatsapp\": \"Message court pour WhatsApp\"\n}"
          },
          {
            "role": "user",
            "content": "Analyse ce prospect immobilier et génère son diagnostic IA GalaXLytique™:\n\nNom: {{1.name}}\nAgence: {{1.agency}}\nFonction: {{1.fonction}}\nObjectif prioritaire: {{1.objectif}}\nProcessus à automatiser: {{join(1.processus; \", \")}}\nLogiciels utilisés: {{join(1.logiciels; \", \")}}\nMaturité IA: {{1.maturite}}\n\nGénère un diagnostic complet avec score, tag, message personnalisé et recommandations."
          }
        ],
        "maxTokens": 1500,
        "temperature": 0.3
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 250
        }
      }
    },
    {
      "id": 4,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {
        "type": ""
      },
      "mapper": {
        "json": "{{3.choices[0].message.content}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 250
        }
      }
    },
    {
      "id": 5,
      "module": "airtable:UpdateRecord",
      "version": 1,
      "parameters": {
        "base": "appvMCqxCmYXcxvYA",
        "table": "tblgfzbWDKIlicx5Y"
      },
      "mapper": {
        "id": "{{2.id}}",
        "record": {
          "Score IA": "{{4.score}}",
          "Tag Température": "{{4.tag}}",
          "Diagnostic IA": "{{4.diagnostic}}",
          "Recommandations": "{{join(4.recommandations; \"\\n\")}}",
          "Gains Potentiels": "{{4.gains_potentiels}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 250
        }
      }
    },
    {
      "id": 6,
      "module": "router",
      "version": 1,
      "parameters": {},
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 250
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 7,
              "module": "whatsapp:SendMessage",
              "version": 1,
              "parameters": {
                "account": "{{connections.whatsapp_cloud}}"
              },
              "mapper": {
                "to": "{{1.phone}}",
                "type": "text",
                "text": {
                  "body": "🚀 *{{1.name}}, votre diagnostic IA ProNeXus™ est prêt !*\\n\\n🎯 *Score IA : {{4.score}}/10*\\nStatut : {{4.tag}}\\n\\n{{4.message_whatsapp}}\\n\\n📅 Réservez votre audit approfondi gratuit :\\nhttps://calendly.com/contact-pronexus/audit-ia\\n\\n_ProNeXus™ AIAA - Architecte IA Immobilier_"
                }
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 0
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 8,
              "module": "email:SendEmail",
              "version": 1,
              "parameters": {},
              "mapper": {
                "to": "{{1.email}}",
                "subject": "🚀 {{1.name}}, votre diagnostic IA ProNeXus™ est prêt !",
                "html": "{{template.email_diagnostic}}",
                "from": {
                  "email": "diagnostic@pronexus.fr",
                  "name": "ProNeXus™ AIAA"
                }
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 250
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 9,
              "module": "slack:CreateMessage",
              "version": 1,
              "parameters": {
                "account": "{{connections.slack}}"
              },
              "mapper": {
                "channel": "#leads-ia-galaxlytique",
                "text": "🚀 *Nouveau Lead {{4.tag}} - Diagnostic IA*\\n\\n👤 *{{1.name}}* - {{1.fonction}}\\n🏢 {{1.agency}}\\n📧 {{1.email}}\\n📱 {{1.phone}}\\n\\n🎯 *Score IA : {{4.score}}/10*\\n🔥 *Tag : {{4.tag}}*\\n\\n📊 *Objectif :* {{1.objectif}}\\n🤖 *Maturité :* {{1.maturite}}\\n\\n💡 *Action recommandée :*\\n{{if(4.tag = \"CHAUD\"; \"⚡ Appeler dans les 24h - Lead très qualifié\"; if(4.tag = \"TIEDE\"; \"📧 Nurturing email personnalisé\"; \"📊 Ajouter à la newsletter IA\"))}}\\n\\n[Voir dans Airtable](https://airtable.com/appvMCqxCmYXcxvYA/tblgfzbWDKIlicx5Y/{{2.id}})"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 500
                }
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu2.make.com"
  }
}